// Custom styles.
.site-author-image {
    border: none;
}
.site-author-name, .hc__ht {
    visibility: hidden;
}
.hc__footer {
    display: none;
}
.hc__menu {
    visibility: hidden;
    margin: 0!important;
}