// Custom styles.
.site-author-image {
    border: none;
}
.site-author-name, .hc__ht, .hc__footer, .hc__reply__photo {
    display: none!important;
}
.hc__menu {
    visibility: hidden;
    margin: 0!important;
}
tr.hcc {
    background-color: inherit!important;
}
.hc__menu__viewerbox[active=true] {
    margin-top: inherit!important;
}
.hc__reply__box {
    margin-left: inherit!important;
}
.hc__top__right {
    float: right!important;
}
.hc__top__left {
    float: left!important;
}