// Custom styles.
.site-author-image {
    border: none;
}
.site-author-name, .hc__ht, .hc__footer, .hc__reply__photo, .hc__top__unlike, .hcc [el=allF], .hcc [el=youtubeF], .hcc [el=quoteTab], .hc__menu__settings__popup [rel=Link] {
    display: none!important;
}
tr.hcc {
    background-color: inherit!important;
}
.hc__menu__viewerbox[active=true] {
    margin-top: inherit!important;
}
.hc__reply__box {
    margin-left: inherit!important;
}
.hc__top__right {
    float: right!important;
}
.hc__top__left {
    float: left!important;
}
.hc__menu__comment__popup, .hcc [el=SettingsBox] {
    height: inherit!important;
}